@CHARSET "ISO-8859-1";

body{
	margin:0;
	font-family: 'OpenSans-Regular';
	 background-color: #ffffff;
	 
}



.intro-header {
   margin:0px;
   padding:0px; 
 "WebContent/css/style.css"   padding-bottom: 50px;
    text-align:left;
    color: #f8f8f8; 
   background:url(Images/crop1.png) no-repeat 0px 0px;
    background-size: cover;
    min-height:600px;
    
}
.intro-message {
    position: relative;
    padding-top: 10%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin-right: 7%;
   
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 7em;
    text-align:center;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin:0px;
    padding:0px;
}

.Group{
margin-top:5%;

text-align:center;
float:center;
background-color:white;
position:relative:

}

.Group1{
margin-top:3%;

text-align:center;
float:center;
background-color:white;
position:relative:

}



/* ==================================================
  Gallery Box
  ================================================== */


.gallery-box {
    display: block;
    position: relative;
    margin-bottom: 6%;
    max-width: 650px;
    overflow:hidden;
    
}

.gallery-box .gallery-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(44,44,44,.8);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.gallery-box .gallery-box-caption .gallery-box-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.gallery-box:hover .gallery-box-caption {
    opacity: 1;
}




.gallery-box:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-box img {
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.modal-content {
    background-color: #1d1d1d;
}

section {
    padding: 70px 0;
}
.no-padding {
    padding: 0;
}

#three
{
 margin-top:5%;
 
}



/* ==================================================
  Advantages
  ================================================== */


.feature{
 margin-top:5%;

float:center;
background-color:white;
min-height:400px;

}

.feature > h4,h2{
 text-align:center;
 
 
}

.img-valign {
  vertical-align: middle;
  margin-bottom: 0.75em;
}

.text1 {
  font-size: 24px;
}



	






/* ==================================================
  Contact Section
  ================================================== */


#contact {
  background: #f7f7f7;
  padding: 80px 0;
  
}

#contact .Info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .Info i {
  font-size: 32px;
  color: #199EB8;
  float: left;
}


#contact .form #sendmessage {
  color: #199EB8;
  border: 1px solid #199EB8;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #199EB8;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  
}



